        body {
            font-family: 'bitter',Arial, sans-serif;
            /* background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(194, 247, 252)); */
            background-color: #F5F6F8;
            /* display: flex; */
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
.bar {
    background-size: 100%;
    background-color: #EEF0F4;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 9rem;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

}
        .logo-img{
            margin-left: 2vh;
            height: 140px;
            max-width: 25vw;
            min-width: 60px;
            object-fit: contain;
        }
        .college-header {
            color: #000000;
            text-align: center;
            /* align-items: flex-start; */
            margin-right: 11vw;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
    }

    .college-header .small-text {
    font-size: 15px;
    font-style: italic;
    color: #1173D4;
    }

    .college-header h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0;
    letter-spacing: 1px;
    justify-content: center;
    }

    .college-header .approval {
    font-size: 14px;
    font-weight: bold;
    color: #8D8AA3;
    }

    .college-header .naac {
    font-size: 13px;
    margin-top: 5px;
    color: #8D8AA3;
    }

.capsule {
    display: block;
    margin: 10rem auto 1rem auto; /* 10rem pushes below bar AND 2rem gap above container */
    font-weight: 550;
    color: #1173D4;
    border: none;
    background-color: #C2E1F6;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 1rem;
    text-align: center;
    max-width: 90vw;
}
.capsule:hover{
    background-color: #9bd6fd;
}

        .container {
                background: #FFFFFF;
                padding: 2rem 3rem;
                border-radius: 8px;
                box-shadow: 0 1px 10px rgb(255, 255, 255);
                max-width: 45vh;
                margin: 0 auto;
                margin-top: 0;
        }
        
        h2 {
            text-align: center;
            margin-bottom: 1.5rem;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            margin-bottom: 0.5rem;
            font-weight: bold;
        }
        input{
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            padding: 0.7rem;
            background: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1rem;
        }
        button:hover {
            background: #0056b3;
        }
        .toggle-link {
            margin-top: 1rem;
            text-align: center;
        }
        .toggle-link a {
            color: #007bff;
            text-decoration: none;
            cursor: pointer;
        }
        .toggle-link a:hover {
            text-decoration: underline;
        }